container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python arc_eb/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python arc_eb/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "arc_eb.settings"
    PYTHONPATH: "/opt/python/current/app/arc_eb:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "arc_eb/arc_eb/wsgi.py"